# copied
#Chainable.all.js
#Chainable.js
#Chainable.node.js
#ChainedMap.js
#ChainedMapExtendable.js
#ChainedSet.js
#ChildChain.js
#FactoryChain.js
#ImmutableChain.js
#MergeChain.js
#TypeChain.js
#index.cjs.js
#index.es.js
#compose/
#ext/
#deps
play
#!src/**


node_modules
.idea

.nyc_output
.fliphub
coverage

npm-debug.log
*.log.*
lerna-debug.log

.DS_Store
.eslintcache

#dist
built
build
public

tmp
_tmp
.tmp
.happypack
.fusebox

.idea
.vscode
